commands:
  add_ec2_user_to_docker_group:
    command: "sudo usermod -aG docker ec2-user"
    ignoreErrors: true

  add_docker_log_truncate_cronjob:
    command: "crontab -l | grep -q 'eb-docker' || (crontab -l ; echo '* */6 * * * /bin/echo 0 | tee /var/log/eb-docker/containers/*/*.log')| crontab -"
    ignoreErrors: true
